{% extends 'home/pass_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="border-bottom mt-3 mb-4">Book Tickets</h1>
{%if num_pass%}
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}  
        
        <input type="hidden" name="num_pass" value="{{ num_pass }}">
        
        <fieldset>
            <legend>Enter Passenger Details:</legend>
            {% for form in formset %}
                <div class="passenger-form mb-4">
                    <h4>Passenger {{ forloop.counter }}</h4>
                    {{ form|crispy }}
                </div>
            {% endfor %}
        </fieldset>
        
        <button type="submit" name="submitBooking" class="btn btn-outline-success mt-2">Book Ticket</button>
    </form>


{%else%}
<form method = "post" action = "">
    {%csrf_token%}
    <h2>Enter Number of passengers: </h2>
    <input class = "form-control" type = "number" max="10" placeholder="Maximum-10" name = "num_pass" id = "num_pass">
    <button type = "submit" class="btn btn-outline-primary mt-3">Submit</button>
</form>
{%endif%}
{% endblock content %}



